/* .container {
  min-width: 992px;
} */
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(4px + 0.8vmin);
  min-width: 768px;
  width: 100%;
  overflow: auto;
}

tr:nth-child(even) {
  background-color: #fbfbfb;
}
